<?xml version="1.0"?>
<config>
    <modules>
        <MiraklSeller_Process>
            <version>1.0.0</version>
        </MiraklSeller_Process>
    </modules>
    <global>
        <resources>
            <mirakl_seller_process_setup>
                <setup>
                    <module>MiraklSeller_Process</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </mirakl_seller_process_setup>
        </resources>
        <blocks>
            <mirakl_seller_process>
                <class>MiraklSeller_Process_Block</class>
            </mirakl_seller_process>
        </blocks>
        <helpers>
            <mirakl_seller_process>
                <class>MiraklSeller_Process_Helper</class>
            </mirakl_seller_process>
        </helpers>
        <models>
            <mirakl_seller_process>
                <class>MiraklSeller_Process_Model</class>
                <resourceModel>mirakl_seller_process_resource</resourceModel>
            </mirakl_seller_process>
            <mirakl_seller_process_resource>
                <class>MiraklSeller_Process_Model_Resource</class>
                <entities>
                    <process>
                        <table>mirakl_seller_process</table>
                    </process>
                </entities>
            </mirakl_seller_process_resource>
            <core>
                <rewrite>
                    <cookie>MiraklSeller_Process_Model_Core_Cookie</cookie>
                </rewrite>
            </core>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mirakl_seller_process>
                    <file>mirakl_seller/process.xml</file>
                </mirakl_seller_process>
            </updates>
        </layout>
        <translate>
            <modules>
                <MiraklSeller_Process>
                    <files>
                        <default>MiraklSeller_Process.csv</default>
                    </files>
                </MiraklSeller_Process>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MiraklSeller_Process before="Mage_Adminhtml">MiraklSeller_Process_Adminhtml</MiraklSeller_Process>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <mirakl_seller_process>
            <general>
                <auto_async_execution>1</auto_async_execution>
                <timeout_delay>240</timeout_delay>
                <show_file_max_size>5</show_file_max_size>
            </general>
        </mirakl_seller_process>
    </default>
</config>
