<?xml version="1.0"?>
<config>
    <modules>
        <MiraklSeller_Core>
            <version>1.2.5</version>
        </MiraklSeller_Core>
    </modules>
    <global>
        <resources>
            <mirakl_seller_core_setup>
                <setup>
                    <module>MiraklSeller_Core</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </mirakl_seller_core_setup>
        </resources>
        <blocks>
            <mirakl_seller>
                <class>MiraklSeller_Core_Block</class>
            </mirakl_seller>
        </blocks>
        <helpers>
            <mirakl_seller>
                <class>MiraklSeller_Core_Helper</class>
            </mirakl_seller>
        </helpers>
        <models>
            <mirakl_seller>
                <class>MiraklSeller_Core_Model</class>
                <resourceModel>mirakl_seller_resource</resourceModel>
            </mirakl_seller>
            <mirakl_seller_resource>
                <class>MiraklSeller_Core_Model_Resource</class>
                <entities>
                    <listing>
                        <table>mirakl_seller_listing</table>
                    </listing>
                    <listing_tracking_product>
                        <table>mirakl_seller_listing_tracking_product</table>
                    </listing_tracking_product>
                    <listing_tracking_offer>
                        <table>mirakl_seller_listing_tracking_offer</table>
                    </listing_tracking_offer>
                    <offer>
                        <table>mirakl_seller_offer</table>
                    </offer>
                </entities>
            </mirakl_seller_resource>
        </models>
        <events>
            <core_collection_abstract_load_before>
                <observers>
                    <mirakl_seller>
                        <class>mirakl_seller/autoload</class>
                        <method>registerAutoload</method>
                    </mirakl_seller>
                </observers>
            </core_collection_abstract_load_before>
            <catalog_product_delete_before>
                <observers>
                    <mirakl_seller>
                        <class>mirakl_seller/observer_product</class>
                        <method>onProductDeleteBefore</method>
                    </mirakl_seller>
                </observers>
            </catalog_product_delete_before>
            <controller_action_predispatch_adminhtml_catalog_product_massDelete>
                <observers>
                    <mirakl_seller>
                        <class>mirakl_seller/observer_product</class>
                        <method>onProductMassDeleteBefore</method>
                    </mirakl_seller>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_massDelete>
            <catalog_product_save_after>
                <observers>
                    <mirakl_seller>
                        <class>mirakl_seller/observer_product</class>
                        <method>onProductSaveAfter</method>
                    </mirakl_seller>
                </observers>
            </catalog_product_save_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <mirakl_seller>
                        <class>mirakl_seller/observer_product</class>
                        <method>onProductAttributeUpdateBefore</method>
                    </mirakl_seller>
                </observers>
            </catalog_product_attribute_update_before>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <MiraklSeller_Core>
                    <files>
                        <default>MiraklSeller_Core.csv</default>
                    </files>
                </MiraklSeller_Core>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <mirakl_seller>
                    <file>mirakl_seller/core.xml</file>
                </mirakl_seller>
            </updates>
        </layout>
        <translate>
            <modules>
                <MiraklSeller_Core>
                    <files>
                        <default>MiraklSeller_Core.csv</default>
                    </files>
                </MiraklSeller_Core>
            </modules>
        </translate>
        <events>
            <mirakl_seller_prepare_listing_form_init>
                <observers>
                    <mirakl_seller>
                        <class>mirakl_seller/observer_listing</class>
                        <method>onPrepareListingForm</method>
                    </mirakl_seller>
                </observers>
            </mirakl_seller_prepare_listing_form_init>
            <mirakl_seller_request_exportable_attributes>
                <observers>
                    <mirakl_seller>
                        <class>mirakl_seller/observer_connection</class>
                        <method>onRequestExportableAttributes</method>
                    </mirakl_seller>
                </observers>
            </mirakl_seller_request_exportable_attributes>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MiraklSeller_Core before="Mage_Adminhtml">MiraklSeller_Core_Adminhtml</MiraklSeller_Core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <mirakl_refresh_all_listings>
                <schedule>
                    <!-- Every hour -->
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mirakl_seller/cron_listing::refreshAll</model>
                </run>
            </mirakl_refresh_all_listings>
            <mirakl_export_all_products>
                <schedule>
                    <!-- Every 4 hours at minute 15 -->
                    <cron_expr>15 */4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mirakl_seller/cron_listing::exportProducts</model>
                </run>
            </mirakl_export_all_products>
            <mirakl_export_all_offers>
                <schedule>
                    <!-- Every day at 4:45 am -->
                    <cron_expr>45 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mirakl_seller/cron_listing::exportOffers</model>
                </run>
            </mirakl_export_all_offers>
            <mirakl_export_delta_offers>
                <schedule>
                    <!-- Every 15 minutes -->
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mirakl_seller/cron_listing::exportOffersDelta</model>
                </run>
            </mirakl_export_delta_offers>
            <mirakl_update_all_trackings>
                <schedule>
                    <!-- Every 15 minutes -->
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mirakl_seller/cron_tracking::updateAll</model>
                </run>
            </mirakl_update_all_trackings>
        </jobs>
    </crontab>
    <default>
        <mirakl_seller>
            <listing>
                <auto_create_tracking>1</auto_create_tracking>
                <nb_image_exported>5</nb_image_exported>
                <nb_days_expired>10</nb_days_expired>
                <nb_days_keep_failed_products>10</nb_days_keep_failed_products>
            </listing>
            <offer_fields_mapping>
                <description/>
                <internal_description/>
                <price_additional_info/>
                <min_quantity_alert/>
                <available_start_date/>
                <available_end_date/>
                <leadtime_to_ship/>
                <product_tax_code/>
                <logistic_class/>
            </offer_fields_mapping>
            <prices>
                <enable_promotion_catalog_price_rule>1</enable_promotion_catalog_price_rule>
                <customer_group>0</customer_group> <!-- NOT LOGGED IN -->
            </prices>
        </mirakl_seller>
    </default>
</config>
