<?xml version="1.0"?>
<config>
    <modules>
        <MiraklSeller_Api>
            <version>0.11.0</version>
        </MiraklSeller_Api>
    </modules>
    <global>
        <resources>
            <mirakl_seller_api_setup>
                <setup>
                    <module>MiraklSeller_Api</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </mirakl_seller_api_setup>
        </resources>
        <blocks>
            <mirakl_seller_api>
                <class>MiraklSeller_Api_Block</class>
            </mirakl_seller_api>
        </blocks>
        <helpers>
            <mirakl_seller_api>
                <class>MiraklSeller_Api_Helper</class>
            </mirakl_seller_api>
        </helpers>
        <models>
            <mirakl_seller_api>
                <class>MiraklSeller_Api_Model</class>
                <resourceModel>mirakl_seller_api_resource</resourceModel>
            </mirakl_seller_api>
            <mirakl_seller_api_resource>
                <class>MiraklSeller_Api_Model_Resource</class>
                <entities>
                    <connection>
                        <table>mirakl_seller_connection</table>
                    </connection>
                </entities>
            </mirakl_seller_api_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mirakl_seller_api>
                    <file>mirakl_seller/api.xml</file>
                </mirakl_seller_api>
            </updates>
        </layout>
        <translate>
            <modules>
                <MiraklSeller_Api>
                    <files>
                        <default>MiraklSeller_Api.csv</default>
                    </files>
                </MiraklSeller_Api>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MiraklSeller_Api before="Mage_Adminhtml">MiraklSeller_Api_Adminhtml</MiraklSeller_Api>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <mirakl_seller_api_developer>
            <log>
                <log_option>0</log_option>
                <log_filter/>
            </log>
        </mirakl_seller_api_developer>
    </default>
</config>
