<?xml version="1.0"?>
<config>
    <modules>
        <MiraklSeller_Sales>
            <version>1.1.0</version>
        </MiraklSeller_Sales>
    </modules>
    <global>
        <resources>
            <mirakl_seller_sales_setup>
                <setup>
                    <module>MiraklSeller_Sales</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </mirakl_seller_sales_setup>
        </resources>
        <blocks>
            <mirakl_seller_sales>
                <class>MiraklSeller_Sales_Block</class>
            </mirakl_seller_sales>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>MiraklSeller_Sales_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <mirakl_seller_sales>
                <class>MiraklSeller_Sales_Helper</class>
            </mirakl_seller_sales>
        </helpers>
        <models>
            <mirakl_seller_sales>
                <class>MiraklSeller_Sales_Model</class>
                <resourceModel>mirakl_seller_sales_resource</resourceModel>
            </mirakl_seller_sales>
            <mirakl_seller_sales_resource>
                <class>MiraklSeller_Sales_Model_Resource</class>
                <entities>
                    <order>
                        <table>mirakl_seller_order</table>
                    </order>
                </entities>
            </mirakl_seller_sales_resource>
        </models>
        <events>
            <mirakl_api_connection_delete_before>
                <observers>
                    <mirakl_seller_sales>
                        <class>mirakl_seller_sales/observer_connection</class>
                        <method>onDeleteBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </mirakl_api_connection_delete_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mirakl_seller_sales>
                    <file>mirakl_seller/sales.xml</file>
                </mirakl_seller_sales>
            </updates>
        </layout>
        <translate>
            <modules>
                <MiraklSeller_Sales>
                    <files>
                        <default>MiraklSeller_Sales.csv</default>
                    </files>
                </MiraklSeller_Sales>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_adminhtml_sales_order_cancel>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_cancel</class>
                        <method>onCancelOrderBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_cancel>
            <controller_action_predispatch_adminhtml_sales_order_invoice_save>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_invoice</class>
                        <method>onSaveInvoiceBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_invoice_save>
            <controller_action_predispatch_adminhtml_sales_order_shipment_save>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_shipment</class>
                        <method>onSaveShipmentBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_shipment_save>
            <controller_action_predispatch_adminhtml_sales_order_creditmemo_save>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_creditmemo</class>
                        <method>onSaveCreditmemoBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_creditmemo_save>
            <controller_action_predispatch_adminhtml_sales_order_email>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_email</class>
                        <method>onSendEmailBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_email>
            <controller_action_predispatch_adminhtml_sales_order_edit_start>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_edit</class>
                        <method>onEditOrderStartBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_edit_start>
            <controller_action_predispatch_adminhtml_sales_order_addComment>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_comment</class>
                        <method>onAddCommentBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_addComment>
            <controller_action_predispatch_adminhtml_sales_order_view>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_view</class>
                        <method>onViewOrderBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_view>
            <controller_action_predispatch_adminhtml_sales_order_creditmemo_new>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_creditmemo</class>
                        <method>onNewCreditMemo</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_creditmemo_new>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_view</class>
                        <method>onViewOrderRenderBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
            <adminhtml_widget_container_html_before>
                <observers>
                    <mirakl_seller_sales>
                        <type>singleton</type>
                        <class>mirakl_seller_sales/observer_widget</class>
                        <method>onContainerHtmlBefore</method>
                    </mirakl_seller_sales>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MiraklSeller_Sales before="Mage_Adminhtml">MiraklSeller_Sales_Adminhtml</MiraklSeller_Sales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <mirakl_orders_auto_accept>
                <schedule>
                    <!-- Every 15 minutes -->
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mirakl_seller_sales/cron_order::acceptAll</model>
                </run>
            </mirakl_orders_auto_accept>
            <mirakl_orders_auto_import>
                <schedule>
                    <!-- Every 15 minutes -->
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mirakl_seller_sales/cron_order::synchronizeAll</model>
                </run>
            </mirakl_orders_auto_import>
        </jobs>
    </crontab>
    <default>
        <mirakl_seller_sales>
            <order_acceptance>
                <auto_accept>0</auto_accept>
                <insufficient_stock>1</insufficient_stock> <!-- 1 = Manage order manually -->
                <backorder>1</backorder> <!-- 1 = Accept order automatically -->
                <prices_variations>10</prices_variations> <!-- 10% falling price allowed between Mirakl and Magento -->
            </order_acceptance>
            <order>
                <auto_create_invoice>1</auto_create_invoice>
                <auto_create_shipment>1</auto_create_shipment>
                <auto_create_refunds>1</auto_create_refunds>
                <auto_orders_import>1</auto_orders_import>
            </order>
        </mirakl_seller_sales>
        <payment>
            <mirakl>
                <active>1</active>
                <model>mirakl_seller_sales/payment_method_mirakl</model>
                <order_status>pending</order_status>
                <title>Mirakl</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </mirakl>
        </payment>
    </default>
</config>
